body {
  background-color: rgb(252, 252, 252);
}

h1 {
  color: blueviolet;
}

h2 {
  color: indianred;
}

p.one {
  font-size: 20px;
  font-weight: 1000;
  color: hsl(50, 40, 50);
}

p.two {
  color: rgba(28, 27, 129, 0.651);
  background-color: rgba(223, 223, 223, 0.545);
}

#first {
  background-color: rgba(223, 223, 223, 0.545);
}

#second {
  background-color: blueviolet;
}