body {
  background-color: rgb(252, 252, 252);
  margin: 50px;
}

h1 {
  color: blueviolet;
}

h2 {
  color: indianred;
}

p.one {
  font-size: 20px;
  font-weight: 1000;
  color: hsl(50, 40, 50);
}

#two {
  color: rgba(28, 27, 129, 0.651);
  background-color: rgba(223, 223, 223, 0.545);
  border-left: 10px solid;
  /*margin: 5px;*/
  padding: 20px;
}

#first {
  background-color: rgba(223, 223, 223, 0.545);
}

#second {
  background-color: blueviolet;
}

ul {
  border: 10px solid;
  padding-top: 20px;
  padding-right: 50px;
}
